@model DogWalking.Models.MyAccountModel

@{
    ViewBag.Title = "My Account";
    Layout = "~/MyAccountLayout.cshtml";
}

<h2>My Account</h2>

<ul class="nav nav-pills">
    <li class="active"><a href="#">Parent Details</a></li>
    <li><a href="#">Children Details</a></li>
    <li><a href="#">Classes Registered For</a></li>
    affdfdsfsfdfsfd
</ul>
