<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://creativekids.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>creativekids.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>creativekids</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>CreativeKids</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:vlaqspc3w6.database.windows.net,1433;Initial Catalog=CreativeKidsWebsite;Integrated Security=False;Persist Security Info=True;User ID=Billy123!@vlaqspc3w6;Password=M0nk3y@123;Connect Timeout=30;Encrypt=True" Name="Data Source=tcp:vlaqspc3w6.database.windows.net,1433;Initial Catalog=CreativeKidsWebsite;Integrated Security=False;Persist Security Info=True;User ID=Billy123!@vlaqspc3w6;Password=M0nk3y@123;Connect Timeout=30;Encrypt=True;PersistSecurityInfo=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DogWalking.Models.ApplicationDbContext, DogWalking" MigrationConfiguration="DogWalking.Migrations.Configuration, DogWalking" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vlaqspc3w6.database.windows.net,1433;Initial Catalog=CreativeKidsWebsite;Integrated Security=False;Persist Security Info=True;User ID=Billy123!@vlaqspc3w6;Password=M0nk3y@123;Connect Timeout=30;Encrypt=True;PersistSecurityInfo=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>