<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        @*<%--<meta name="viewport" content="width=device-width, initial-scale=1.0" />--%>*@
        <title><%: Page.Title %> - Creative Kids</title>

        @*<asp:PlaceHolder runat="server">
            <%: Scripts.Render("~/bundles/modernizr") %>
        </asp:PlaceHolder>*@
        @*<webopt:bundlereference runat="server" path="~/Content/css" />*@
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/content/css/materialize.css" type="text/css" rel="stylesheet">
        <link href="~/content/css/style.css" type="text/css" rel="stylesheet">
        @*<link href="~/content/bootstrap.css" type="text/css" rel="stylesheet">*@
        <link href="~/content/css/font-awesome.min.css" type="text/css" rel="stylesheet">
        <script src="~/scripts/js/modernizr.js"></script>
        <script src="~/scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/WebForms/WebForms.js"></script>
        <script src="~/Scripts/WebForms/WebUIValidation.js"></script>
        <script src="~/Scripts/WebForms/MenuStandards.js"></script>
        <script src="~/Scripts/WebForms/GridView.js"></script>
        <script src="~/Scripts/WebForms/DetailsView.js"></script>
        <script src="~/Scripts/WebForms/TreeView.js"></script>
        <script src="~/Scripts/WebForms/WebParts.js"></script>
        <script src="~/Scripts/WebForms/Focus.js"></script>
        @RenderSection("head", required: false)
    </head>
<body id="top" class="scrollspy">
    <form runat="server">
        <!-- Pre Loader -->
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <div class="navbar-fixed">
            <nav id="nav_f" class="default_color" role="navigation">
                <div class="container">
                    <div class="nav-wrapper">
                        <img class="logoImage" src="~/Content/img/CreativeKidsLogo.png" alt="Creative Kids" height="50" width="50"><a id="logo-container" href="~/Default.aspx" class="brand-logo">Creative Kids</a>
                        <ul id="nav-mobile" class="right side-nav">
                            <li><a href="#intro">What We Do</a></li>
                            <li><a href="#work">How we do it</a></li>
                            <li><a href="/Gallery">Gallery</a></li>
                            @*<li><a href="/Account/Login">Login/Register</a></li>*@
                        </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    </div>
                </div>
            </nav>
        </div>
        @RenderBody()
    </form>
</body>
</html>
